.projName{
    position: absolute;
    left: 4%;
    top: 7%;
    font-size: 17px
}
.list1 {
    position: absolute;
    left: 136%;
    height: 125%;
    width: 290%;
    top: 2%;
    font-size: 17px;
}