.project{
    position: absolute;
    left: 5%;
    top: 21%;
}
.otchet{
    position: absolute;
    left: 5%;
    top: 27%;
}
.zarplata{
    position: absolute;
    left: 5%;
    top: 33%;

}

.otpusk{
    position: absolute;
    left: 5%;
    top: 39%;
}
.reestrproj{
    position: absolute;
    left: 5%;
    top: 45%;
}
.time{
    position: absolute;
    left: 5%;
    top: 51%;
}
.kalendar{
    position: absolute;
    left: 5%;
    top: 57%;
}
.help{
    position: absolute;
    left: 5%;
    top: 63%;
}