.projName{
    position: absolute;
    left: 4%;
    top: 7%;
    font-size: 17px
}
.list1{
    position: absolute;
    left: 136%;
    height:125%;
    width: 290%;
    top:2%;
    font-size: 17px;
}
.Kurator{
    position: absolute;
    left: 4%;
    top: 16%;
    font-size: 17px;
}
.Kurator>.nameK{
    position: absolute;
    left: 310%;
    top:9%;
    width: 655%;
    height: 130%;;
    background-color:rgba(17, 188, 211, 0.4);
    border-radius: 5px;
}

.status{
    position: absolute;
    left: 4%;
    top: 24%;
    font-size: 17px;
}