.birthDate{
    position: absolute;
    left: 4%;
    top:5%;
    font-size: 17px;
}
.birthDate>.birth{
    position:absolute;
    left: 136%;
    top:0.05%;
    width: 125%;
    height: 130%;;
    background-color:rgba(17, 188, 211, 0.4);
    border-radius: 5px;

}

.cont>.sex{
    position: absolute;
    left: 50%;
    top: 5%;
    font-size: 17px;
}

.sex>.se{
    position:absolute;
    left: 220%;
    top:0.05%;
    width: 400%;
    height: 130%;;
    background-color:rgba(17, 188, 211, 0.4);
    border-radius: 5px;
}

.cont>.work{
    position: absolute;
    left: 45px;
    top: 96px;
    font-size: 17px;
}
.work>.dolzh{
    position:absolute;
    left: 160px;
    top:6px;
    width: 600px;
    height: 25px;;
    background-color:rgba(17, 188, 211, 0.4);
    border-radius: 5px;
}
.cont>.stazh{
    position: absolute;
    left: 45px;
    top: 176px;
    font-size: 17px;
}

.stazh>.st{
    position:absolute;
    left: 160px;
    top:2px;
    width: 150px;
    height: 25px;;
    background-color:rgba(17, 188, 211, 0.4);
    border-radius: 5px;
}

.cont>.smena{
    position: absolute;
    left: 590px;
    top: 176px;
    font-size: 17px;
}

.smena>.sm{
    position:absolute;
    left: 65px;
    top:2px;
    width: 150px;
    height: 25px;;
    background-color:rgba(17, 188, 211, 0.4);
    border-radius: 5px;
}

.cont>.date{
    position: absolute;
    left: 45px;
    top: 236px;
    font-size: 17px;
}

.date>.datetr{
    position:absolute;
    left: 160px;
    top:8px;
    width: 150px;
    height: 25px;;
    background-color:rgba(17, 188, 211, 0.4);
    border-radius: 5px;
}

.cont>.late{
    position: absolute;
    left: 45px;
    top: 316px;
    font-size: 17px;
}

.late>.latetime{
    position:absolute;
    left: 160px;
    top:6px;
    width: 150px;
    height: 25px;;
    background-color:rgba(17, 188, 211, 0.4);
    border-radius: 5px;
}

.cont>.sovmes{
    position: absolute;
    left: 45px;
    top: 396px;
    font-size: 17px;
}

.sovmes>.sov{
    position:absolute;
    left: 160px;
    top:2px;
    width: 600px;
    height: 25px;;
    background-color:rgba(17, 188, 211, 0.4);
    border-radius: 5px;
}
.cont>.groupps{
    position: absolute;
    left: 45px;
    top: 456px;
    font-size: 17px;
}

.groupps>.grup{
    position:absolute;
    left: 160px;
    top:2px;
    width: 600px;
    height: 25px;;
    background-color:rgba(17, 188, 211, 0.4);
    border-radius: 5px;
}