.neopred{
    background-color:#A5A6AA;
}

.opl_otpusk{
    background-color:#FF7373;
}

.otpusk_bezs{
    background-color:#95D37E;
}

.bol_list{
    background-color:#76D3ED;
}

.progul{
    background-color: #EDDA76;
}

.plansob{
    background-color: #F090C1;
}

.plan_otpusk{
    background-color: #FAD2AA;
}

.ucheb_otpusk{
    background-color: #B190F0;
}

.workcalendar{
    display:block;
    max-height:800px;
    overflow-y:auto;
}

.workcalendar{
    display:table;
    /* width:200%; */
    max-width: 1960px;
    table-layout:fixed;
}