

.Panel>hr{
    position: absolute;
    width: 100%;
    top: 30%;
    border: 1px solid #D1CECE
}
.Panel{
    position: absolute;
    width: 546px;
    height: 42px;
    left: 85px;
    top: 59px;
    font-weight: 300;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.Panel>.Exit>.Ex{
    position: absolute;
    width: 15%;
    height: 56%;
    left: 236%;
    top: 30%;
    cursor: pointer;

}
/*div{
    position: absolute;
    left:38px;
    top: 154px;
}*/