/* .container{
    display: grid;
    grid-template-areas: 
    "head head"
    "nav data";
    grid-template-rows: 60px 6fr;
    grid-template-rows: [row1-start] 1% [row1-end] 100px [third-line] auto [last-line];
    grid-template-columns: 2fr  14fr;
    
}

.Head{
    grid-area: head;
}

.Nav{
    grid-area: nav;
}

.Data{
    grid-area: data;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    max-width: 1960px;
    padding: 0 30px;
}
 */

.logotip {
    width: 120px;
    height: 31px;
    /* background: rgba(255, 255, 255, 0.2); */
    padding-bottom: 66px;
    padding-top: 26px;
    padding-left: 76px;
    /* float: left; */
    color:#fff;
    font-size: 20px;
    
  }
  
  .site-layout-background {
    background: #fff;
  }

  #components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }
  
  .site-layout-background {
    background: #fff;
  }

  /* .container {
    margin: 0 auto;
    max-width: 100%;
    max-width: 1960px;
    padding: 0 30px;
} */

.Logotip label{
    font-size: 20px;
}